.new-collections{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}
.new-collections h1{
  color: rgb(78, 9, 9);
  font-size: 50px;
  font-weight: 600;
  margin-left: 60px;
}
.new-collections hr{
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: rgb(14, 14, 14);
  margin-left: center;
}
.collections{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50PX;
  gap: 30px;
  margin-left: 60px;
}