.popular{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}
.popular h1{
  color: rgb(78, 9, 9);
  font-size: 50px;
  font-weight: 600;
}
.popular hr{
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: rgb(14, 14, 14);
}
.popular-item{
  margin-top: 50px;
  display: flex;
  gap: 30px;
}